.container {
  margin: 3.3rem 0;
}

.headerLink {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.titleText {
  margin: 0;
}

.description {
  margin: 1.1rem 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.6rem 0;
}

.button {
  margin-left: 0.6rem;
}

.tag {
  margin: 0.1rem 0.3rem 0.1rem 0;
}
