.container {

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer:hover .link svg {
  display: block;
}

.link {
  display: flex;
  color: #3d3d3d;
}

.link svg {
  display: none;
  fill: #3d3d3d;
}

.title {
  margin: 20px 0;
}

.hr {
  margin: 0;
}

.children {
  margin: 2rem 0 0 0;
}

.children.noMargin {
  margin: 0;
}