.container {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotate-center 0.7s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
          animation: rotate-center 0.7s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
}